body {
  font-family: sans-serif;
}

#navbar {
  width: 200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.item {
  border: 1px solid black;
}

.item:first-child {
  background-color: #f9a91a;
}

.item:first-child a {
  color: #fff;
}

.item:first-child a :hover {
  background-color: #fccc74;
  color: black;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 8px;
}

a:hover {
  background-color: #e0e0d1;
}

a:active,
.item:first-child a:active {
  background-color: #333;
  color: white;
}
