body {
  background-color: #e0f7fa;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

p {
  background-color: #0d1c70;
  color: white;
  padding: 10px;
  border-radius: 5px; /
}
